.card-media-parent {
  width: 100% !important;
  max-width: 100% !important;
  /* min-height: 150px !important; */
  /* height: 150px !important; */
  min-height: 150px !important;
  max-height: 150px !important;
}

.card-media {
  /* border-top-left-radius: 4px !important; */
  /* border-top-right-radius: 4px !important; */
  width: 100% !important;
  object-fit: cover !important;
  height: 150px !important;
}
