.avatar-base {
  height: 100%;
  width: 100%;
  border-radius: 100% !important;
  object-fit: cover !important;
}

.blank_large {
  font-size: 3.5rem;
}

.blank_medium {
  font-size: 2.9rem;
}

.blank_small {
  font-size: 2rem;
}

.avatar-blank {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background: #bdbdbd;
  color: #ffffff;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.avatar-text {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 400 !important;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.avatar-wrapper {
  outline: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  transition: all 300ms ease-in;
}

.smallAvatar {
  height: 40px !important;
  width: 40px !important;
  max-width: 40px !important;
  max-width: 40px !important;
}

.mediumAvatar {
  height: 50px !important;
  width: 50px !important;
  max-width: 50px !important;
  max-width: 50px !important;
}

.largeAvatar {
  height: 60px !important;
  width: 60px !important;
  max-width: 60px !important;
  max-width: 60px !important;
}

.avatar-wrapper:hover {
  opacity: 0.8;
}
